/* *{
    margin: 0px;
    padding: 0px;
} */

h1{
    background-color: brown;
    color: rgba(250, 250, 0, 0.638);   
    height: 30vh;
    border: 30px solid white;
    padding: 20px;
    box-sizing: content-box;
    /* display: inline; */
}

h2{
    background-color: pink;
}

span{
    color:blue;
    margin-left: 9rem;
    margin-right: 100px;

    height: 300px;
    width: 300px;
    background-color:pink;
    padding-left: 30px;
    padding-right: 30px;

    /* padding-top: 30px;
    padding-bottom: 30px; */
    /* margin-top: 20px; */

    /* display: block; */

}